/* CSS HEX */
--dark-amethyst: #0d0630ff;
--deep-space-blue: #18314fff;
--dusk-blue: #384e77ff;
--muted-teal: #8bbeb2ff;
--lime-cream: #e6f9afff;

/* CSS HSL */
--dark-amethyst: hsla(250, 78%, 11%, 1);
--deep-space-blue: hsla(213, 53%, 20%, 1);
--dusk-blue: hsla(219, 36%, 34%, 1);
--muted-teal: hsla(166, 28%, 65%, 1);
--lime-cream: hsla(75, 86%, 83%, 1);

/* SCSS HEX */
$dark-amethyst: #0d0630ff;
$deep-space-blue: #18314fff;
$dusk-blue: #384e77ff;
$muted-teal: #8bbeb2ff;
$lime-cream: #e6f9afff;

/* SCSS HSL */
$dark-amethyst: hsla(250, 78%, 11%, 1);
$deep-space-blue: hsla(213, 53%, 20%, 1);
$dusk-blue: hsla(219, 36%, 34%, 1);
$muted-teal: hsla(166, 28%, 65%, 1);
$lime-cream: hsla(75, 86%, 83%, 1);

/* SCSS RGB */
$dark-amethyst: rgba(13, 6, 48, 1);
$deep-space-blue: rgba(24, 49, 79, 1);
$dusk-blue: rgba(56, 78, 119, 1);
$muted-teal: rgba(139, 190, 178, 1);
$lime-cream: rgba(230, 249, 175, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-right: linear-gradient(90deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-bottom: linear-gradient(180deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-left: linear-gradient(270deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-top-right: linear-gradient(45deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-bottom-right: linear-gradient(135deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-top-left: linear-gradient(225deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-bottom-left: linear-gradient(315deg, #0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);
$gradient-radial: radial-gradient(#0d0630ff, #18314fff, #384e77ff, #8bbeb2ff, #e6f9afff);